{% extends 'layout/layout' %}

{% block breadcrumbs %}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://www.activeaxon.com/html/kanzi/media/rev-images/slider1/bg2.jpg" class="carouselimage">
                <div class="carousel-caption">
                    lalala
                </div>
            </div>
            <div class="item">
                <img src="http://www.activeaxon.com/html/kanzi/media/rev-images/slider1/bg1.jpg" class="carouselimage">
                <div class="carousel-caption">
                    lululu
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock breadcrumbs %}

{% block title %}
	{{ translate('News and Updates') }}
{% endblock title %}

{% block content %}
	{% for iKey, aCurNews in aNews %}
		<div class="blog margin-bottom-30">
			<h3>{{ aCurNews.getTitle }}</h3>
			<div class="blog-post-tags">
				<ul class="list-unstyled list-inline blog-info">
					<li><i class="fa fa-calendar"></i> {{ aCurNews.getCreated.format('Y-m-d H:i') }}</li>
				</ul>
			</div>
			<div class="blog-content-image">{{ aCurNews.getMemo|raw }}</div>
		</div>
	{% endfor %}

{% endblock content %}