{% extends 'layout/layout' %}

{% block title %}
	{{ translate('CharacterPanel') }}
{% endblock title %}

{% block content %}
	{% if characterList is empty %}
		<div class="alert alert-danger">
			You dont have a character, please create a character to use this panel.
		</div>
	{% else %}
		{# only an example #}
		<label for="characterSelection">CharacterSelection</label>
		<select id="characterSelection" name="character">
			<option value="">----</option>
			{% for key, character in characterList %}
				<option value="{{ character.getId }}">{{ character.getName }}</option>
			{% endfor %}
		</select>
	{% endif %}
{% endblock content %}